<div class="ar-business-card-front">
    <h2>Tomi Heikkinen</h2>
    <div class="roles-container">
      <div class="role" data-info="full-stack-developer-info">Full-Stack Developer</div>
      <div class="role" data-info="mobile-developer-info">Mobile Developer</div>
      <div class="role" data-info="ar-developer-info">AR Developer</div>
      <div class="role" data-info="unity-developer-info">Game Developer</div>
      <div class="role" data-info="blender-info">Blender</div>
      <div class="role" data-info="about-me-info">About Me</div>
    </div>
    <div class="social-links">
      <a href="https://wa.me/358406359080" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-whatsapp"></i> WhatsApp
      </a>
      <a href="https://www.facebook.com/tomiheik" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-facebook"></i> Facebook
      </a>
      <a href="https://www.instagram.com/tomipethei/" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-instagram"></i> Instagram
      </a>
      <a href="https://github.com/HeikTomi/" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github"></i> GitHub
      </a>
    </div>
    <div class="embed-linkedin">
      <div class="linkedin-badge">
        <img src="./assets/images/linkedin-logo-png-1841.png" alt="LinkedIn Logo" class="linkedin-logo">
        <div class="linkedin-info">
          <h3>Tomi Heikkinen</h3>
          <p>Web | Mobile | AR ICT-Engineer</p>
        </div>
        <a href="https://www.linkedin.com/in/tomi-heikkinen-tph/" target="_blank" class="linkedin-link" rel="noopener">View Profile</a>
      </div>
    </div>
  </div>